@import 'styles/base.css';
@import 'styles/buttons.css';
@import 'styles/tabs.css';
@import 'styles/forms.css';
@import 'styles/tables.css';
@import 'styles/auto-scaling.css';
@import 'styles/popups.css';
@import 'styles/changelog.css';
@import 'styles/preferences.css';
@import 'styles/payouts.css';
@import 'styles/capture.css';
@import 'styles/inputs.css';
@import 'styles/layout.css';
@import 'styles/history.css';
@import 'styles/tooltips.css';

:root {
    --main-font: 'Orbitron', sans-serif;
    --dropdown-label-color: #00ffcc;
    --dropdown-text-color: #00ffcc;
    --button-color: #00ffcc;
    --title-color: #00ffcc;
    --drop-off-header-text-color: #00ffcc;
    --row-text-color: #00ffcc;
    --table-header-text-color: #00ffcc;
    --mission-text-color: #00ffcc;
    --table-outline-color: #00ffcc;
}

::-webkit-scrollbar { display: none; }

body {
    scrollbar-width: none; /* Firefox */
}

body, button, input, select, textarea {
    font-family: var(--main-font);
}

/* Font styling */
.react-select__option {
    font-family: var(--main-font) !important;
}

/* Font preview styles */
.react-select__option[data-value="Orbitron"] {
    font-family: 'Orbitron', sans-serif !important;
}

.react-select__option[data-value="Arial"] {
    font-family: Arial, sans-serif !important;
}

.react-select__option[data-value="Verdana"] {
    font-family: Verdana, sans-serif !important;
}

.react-select__option[data-value="Helvetica"] {
    font-family: Helvetica, sans-serif !important;
}

.react-select__option[data-value="Courier New"] {
    font-family: 'Courier New', monospace !important;
}

.react-select__option[data-value="Georgia"] {
    font-family: Georgia, serif !important;
}

.react-select__option[data-value="Times New Roman"] {
    font-family: 'Times New Roman', serif !important;
}

.react-select__option[data-value="Trebuchet MS"] {
    font-family: 'Trebuchet MS', sans-serif !important;
}

.react-select__option[data-value="Impact"] {
    font-family: Impact, sans-serif !important;
}

/* Tooltip styles */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 1; /* Ensure the tooltip is above other elements */
}

[data-tooltip]:hover:before {
  opacity: 1;
  visibility: visible;
}

