.history-container {
    padding: 20px;
    background-color: var(--secondary-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.history-group-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-date-group {
    background-color: var(--secondary-background);
    border: 1px solid var(--table-outline-color);
    border-radius: 10px;
    overflow: hidden;
}

.history-date-header {
    padding: 10px;
    background-color: #333;
    color: var(--drop-off-header-text-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.history-date-header:hover {
    background-color: #444;
}

.drop-off-group-history {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
}

.drop-off-header-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drop-off-header-history-header:hover {
    background-color: #444;
}

.history-table {
    width: 100%;
    border-collapse: separate;
    background-color: var(--secondary-background);
    border: 1px solid var(--table-outline-color);
    border-radius: 5px;
    overflow: hidden;
}

.history-table th,
.history-table td {
    padding: 6px;
    text-align: left;
    border: 1px solid var(--table-outline-color);
}

.history-table th {
    background-color: #333;
    color: var(--table-header-text-color);
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
}

.history-table td {
    color: var(--row-text-color);
    font-size: 12px;
    padding: 4px;
}

.history-table tr:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .history-date-header {
        font-size: 16px;
        padding: 10px;
    }
    
    .history-table th,
    .history-table td {
        padding: 8px;
        font-size: 14px;
    }
} 